.converter-page-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28rem;
}

.converter-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: 60rem;
    border: 5px solid #193e2c;
    border-radius: 10px;
    background-color: #B9E0CF;
}

.converter-fields-container{
    width: 35%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.select-currency{
    width: 4.5rem;
    height: 2.5rem;
}

.select-currency-option{
    height: 2.5rem;
}

select{
    border-radius: 0.3rem;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 1.25rem;
    &:focus-visible{
        outline: none;
    }
}

.swap-button-container{
  margin-bottom: 1rem;
  position: relative;
  width: fit-content;
  height: fit-content;
}

.swap-button-img{
  width: 100%;
  height: 100%;
}

.swap-button{
  width: fit-content;
  height: fit-content;
  border: none;
  background: none;
  cursor: pointer;
}

.swap-button-img{
  width: 2.5rem;
}



.form__group {
  position: relative;
  padding: 15px 0 0;
  width: 70%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 0.2rem solid #193e2c;
  outline: 0;
  font-size: 1.6rem;
  color: #193e2c;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #193e2c;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #193e2c;
  }
  padding-bottom: 6px;  
  border-width: 3px;
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
/* demo */
body {
  font-family: 'Poppins', sans-serif; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color:#193e2c;
}