<div class="converter-page-container">
    <div class="converter-container">
      <div class="converter-fields-container">
        <div class="form__group field">
          <input type="input" class="form__field" placeholder="Name" name="name" id='name' required [value]="firstValue"/>
          <label for="name" class="form__label">Ammount</label>
        </div>

        <select class="select-currency">
          <option>UAH</option>
          <option>USD</option>
          <option>EUR</option>
        </select>
      </div>

      <div class="swap-button-container">
        <button class="swap-button">
          <img
            src="../../../../assets/swap-icon.png"
            class="swap-button-img">
        </button>
      </div>
      
      <div class="converter-fields-container">
        <div class="form__group field">
          <input type="input" class="form__field" placeholder="Name" name="name" id='name' required [value]="secondValue"/>
          <label for="name" class="form__label">Ammount</label>
        </div>

        <select class="select-currency">
          <option>UAH</option>
          <option>USD</option>
          <option>EUR</option>
        </select>
      </div>
    </div>
</div>