.header-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5rem;
    background-color: #193e2c;
    border-bottom: 5px solid #C4F3DF;
    align-items: center;
    position: relative;
}

.header-name{
    font-size: 2rem;
    font-weight: bold;
    color: #C4F3DF;
    margin-left: 2rem;
}

.header-currency-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2rem;
}

.header-currency{
    margin-block-start: 0.25rem;
    margin-block-end: 0.25rem;
    color: #C4F3DF;
}

