@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Roboto';
    margin: 0;
}